.raleway-semibold {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    color: white;
    position: relative;
    z-index: 5;
}

.desktop_mobile_shown {
    display: none;
}

.desktop-nav, .desktop {
    display: flex;
}

.mobile-menu {
    display: none;
}

.nav {
    background: #1c1d1f;
    width: 100%;
    gap: 20px;
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-right {
    display: flex;
    align-items: center;
}

/* HERO SECTION */
.hero {
    position: relative;
    width: 100%;
    height: 700px;
/*    height: 100vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.background-video {
    position: absolute;
    left: 0;
    bottom: 20%;
    object-fit: cover;
    width: 50%;
    height: 100%;
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1320px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    bottom: 10%;
}

.text-content {
    color: white;
    max-width: 600px;
    position: relative;
}

.text-content h1 {
    font-size: 79px;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: end;
}

.text-content h1 span {
    padding: 0 0.5rem;
    border-radius: 5px;
}

.text-content h1 strong {
    font-weight: 800;
}

.text-content-details {
    position: absolute;
    top: 115px;
    width: 40%;
    font-size: 12px;
}

.text-content p {
    color: #ccc;
    line-height: 1.6;
}

.content-inforamtion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-stats {
    display: flex;
    background: #1c1d1f;
    border-radius: 20px;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
}

.users {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px
}

.users-images {
    display: flex;
    gap: 10px;
}

.users img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #e94d22;
}

.users span {
    font-size: 1.2rem;
    font-weight: bold;
}

.profit {
    text-align: right;
    flex: 1;
}

.profit strong {
    font-size: 1.5rem;
}

.profit p {
    font-size: 0.8rem;
    color: #fff;
}

.join-button {
    background: #e94d22;
    color: #fff;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.join-button:hover {
    box-shadow: 0 0 20px rgb(255 255 255 / 60%);
}

/* ABOUT SECTION */
.about-section {
    padding: 0px 20px 80px 20px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.about-left {
/*    flex: 1 1 40%;*/
    flex: 1;
    color: #fff;
}

.subtitle {
    color: #e94d22;
    font-size: 16px;
    margin-bottom: 10px;
}

.about-left h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.about-description {
    font-size: 20px;
    margin-bottom: 20px;
}

.about-text {
    font-size: 16px;
    margin-bottom: 50px;
    color: #ccc;
}

.read-more-button {
    background: #e94d22;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
}

.read-more-button:hover {
    box-shadow: 0 0 20px rgb(255 255 255 / 60%);
}

.about-right {
    flex: 1;
/*    flex: 1 1 55%;*/
}

.stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: #1a1a1a;
    border-radius: 20px;
    padding: 30px;
}

.stat-item {
    background: #1a1a1a;
    padding: 20px;
    border-right: 1px solid #333;
    position: relative;
    text-align: left;
    color: #fff;
}

.stat-item:last-child {
    border-right: none;
}

.stat-item h2 {
    font-size: 50px;
}

.stat-title {
    width: 60%;
    color: #fd8235;
    margin-bottom: 20px;
}

.stat-item:nth-of-type(2) .stat-title {
    margin-bottom: 40px;
}

.stat-text {
    font-size: 14px;
    color: #ccc;
}

.stat-item h2::after {
    content: "";
    position: absolute;
    top: 11%;
    right: 20%;
    width: 35px;
    height: 35px;
    background: #1c1d1f;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(255 255 255);
}

/* FINANCE SECTION */
.finance-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding-inline: 10px;
}

.video-section-2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.bg-video-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.finance-left {
    flex: 1 1 50%;
    color: white;
}

.finance-left span {
    display: block;
}

.finance-left h2 {
    font-size: 50px;
}

.finance-left p {
    width: 66%;
    margin-bottom: 20px;
    color: #ccc;
}

.finance-list {
    list-style: none;
    padding: 0;
}

.finance-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.finance-list li img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.finance-right {
    flex: 1 1 40%;
}

.finance-card {
    width: 80%;
    background-color: #e65828;
    padding: 30px;
    border-radius: 20px;
    color: white;
}

.finance-card-icon {
    background: black;
    width: 60px;
    height: 60px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.finance-card-icon img {
    width: 40px;
    height: 40px;
}

.finance-card h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.finance-bottom {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 20px;
    margin: 50px auto 0;
    width: 100%;
    max-width: 1320px;
}

.bottom-item {
    flex: 1 1 22%;
    text-align: center;
    color: white;
}

.bottom-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.bottom-item p {
    font-size: 0.9rem;
    color: #ccc;
}

/* STARTED SECTION */
.button-wrapper-started {
    justify-self: center;
}

.button-login {
    background: #e94d22;
    color: #fff;
    padding: 15px 50px;
    font-size: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.started-title {
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    color: #fff;
}

.started-title span {
    display: block;
}

.steps-section {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 2rem;
    flex-wrap: wrap;
}

.step-card {
    padding: 2rem;
    border-radius: 12px;
    max-width: 350px;
    flex: 1;
}

.step-header {
    display: flex;
    gap: 60px;
    align-items: center;
    background: linear-gradient(to right, #f05a28 30%, #1a1a1a 30%);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 30px;
    text-align: center;
}

.card_icon {
    width: 50px;
    height: 50px;
}

.step-card h2, .step-card p {
    color: #fff;
}

.step-card p {
    font-size: 14px;
}

.steps-section .step-card:nth-child(3) p {
    font-size: 13px;
}

/* FAQ SECTION */
.contact-faq-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    padding: 0 2rem 4rem 2rem;
}

.contact-form {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
}

.form-description {
    color: #ccc;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.faq-form-title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: #fff;
}

.faq-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row {
    display: flex;
    gap: 1rem;
}

.faq-form label {
    color: #fff;
}

.form-row input {
    flex: 1;
}

.faq-form input, .faq-form textarea {
    background-color: #3c3d3f;
    border: none;
    border-radius: 12px;
    padding: 1rem;
    color: #fff;
    font-size: 1rem;
    min-width: unset;
    height: 50px;
    min-height: 50px;
}

.faq-form textarea {
    min-height: 100px;
    resize: vertical;
}

.send-button {
    background-color: #f05a28;
    color: #fff;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;
    margin-top: 20px;
}

.faq-section {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
}

.faq-subtitle {
    color: #fd8235;
    font-weight: bold;
    font-size: 1rem;
}

.faq-title {
    font-size: 2.5rem;
    margin: 0.5rem 0;
    line-height: 1.2;
    color: #fff;
}

.faq-description {
    color: #ccc;
    font-size: 1rem;
    max-width: 600px;
    margin-top: 1rem;
}

.faq-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.faq-item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.faq-icon {
    position: absolute;
    width: 35px;
    height: 35px;
    background: #000;
    border-radius: 50%;
    box-shadow: 0 0 20px #e94d22;
}

.faq-details {
    margin-left: 70px;
}

.faq-question {
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
    color: #fff;
}

.faq-answer {
    margin: 0;
    color: #ccc;
    font-size: 1rem;
    line-height: 1.6;
}

.faq-more-btn {
    margin-top: 2rem;
    background-color: #3c3d3f;
    color: #fff;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
}

.faq-more-btn span {
    font-size: 1.2rem;
}

.faq-more-btn img {
    width: 15px;
    height: 15px;
}

/* FOOTER */
.glow-line {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, #ffffff66, transparent);
    box-shadow: 0 0 8px #ffffff33;
    margin: 40px 0;
}

.nav1 {
    background: transparent;
    padding: 10px 40px 10px 0px;
}

.nav1 li a:hover {
    text-decoration: none!important;
    color: #e94d22;
}

.submenu1 {
    position: absolute;
    left: 0;
    top: calc(100% + 9px);
    z-index: 5;
    display: none;
    border-radius: 8px;
    padding: 3px 5px;
    width: 100%;
    text-transform: uppercase;
    background: #000;
    border: 1px solid white;
    max-height: 300px;
    overflow-y: auto;
}

.footer-bottom {
    padding-block: 12px 30px;
}

.footer-bottom .flex-bl {
    justify-content: flex-end;
}

.footer .nav-left {
    gap: 40px;
}

.copyright span {
    font-size: 15px;
}

/* LOGIN PAGE */
.hero-login {
    justify-content: flex-end;
    align-items: flex-start;
    height: auto;
}

.title-form-login {
    font-size: 40px!important;
}

.title-form-login img {
    width: auto;
    height: 30px;
    display: inline-block;
}

@media (width: 1024px) {
    .stat-item {
        padding: 10px;
    }

    .stat-item h2::after {
        top: 7%;
        right: 8%;
    }

    .finance-bottom {
        max-width: 1000px;
        padding: 10px
    }
}

@media (max-width: 768px) {
    .desktop-nav, .desktop, .mobile_hidden { display: none!important; }
    .mobile-menu { 
        display: flex;
        align-items: center;
        gap: 10px; 
    }
    #menu { 
        display: none; 
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100vh; 
        background: rgba(0, 0, 0, 0.8); 
        text-align: center; 
        padding-top: 100px; 
    }
    #menu.overlay { 
        display: block; 
        z-index: 49;
    }
    #menu ul {
        padding: 0;
    }
    #menu li {
        list-style: none;
        display: flex;
        justify-content: center;
    }
    #menu a {
        color: #fff;
        display: block;
        font-size: 25px;
        margin-bottom: 30px;
        text-decoration: none;
    }
    .contact-btn-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
    #burger-menu { 
        cursor: pointer; 
        height: 27px; 
        width: 27px; 
        position: relative; 
        z-index: 50; 
    }
    #burger-menu span, #burger-menu span:before, #burger-menu span:after {
        background: #fff; 
        display: block; 
        height: 2px; 
        position: absolute; 
        transition: 0.3s ease-in-out;
    }
    #burger-menu span:before, #burger-menu span:after { content: ''; }
    #burger-menu span:before { 
        left: 0; 
        top: -10px; 
        width: 27px; 
    }
    #burger-menu span { 
        right: 0; 
        top: 13px; 
        width: 27px; 
    }
    #burger-menu span:after { 
        left: 0; 
        top: 10px; 
        width: 27px; 
    }
    #burger-menu.close span:before { 
        top: 0; 
        transform: rotate(90deg); 
        width: 27px; 
    }
    #burger-menu.close span { 
        transform: rotate(-45deg); 
        top: 13px; 
        width: 27px; 
    }
    #burger-menu.close span:after { 
        top: 0; 
        left: 0; 
        transform: rotate(90deg); 
        opacity: 0; 
        width: 0; 
    }

    .desktop_mobile_shown {
        display: block;
    }

    .header {
        padding: 12px 10px 12px 10px;
    }

    .background-video { 
        width: 100%;
        bottom: 0;
    }

    .hero-content { 
        align-items: center;
        bottom: 0;
    }

    .content-inforamtion { 
        flex-direction: column;
        gap: 50px;
    }

    .text-content h1 {
        margin-bottom: 150px;
    }

    .text-content-details {
        top: 115px;
    }

    .about-content {
        flex-direction: column;
    }

    .finance-card {
        width: 100%;
    }

    .finance-left p {
        width: 100%;
    }

    .steps-section {
        flex-direction: column;
    }

    .step-card {
        max-width: unset;
    }

    .step-header {
        gap: 300px;
    }

    .contact-faq-section {
        flex-direction: column-reverse;
    }

    .contact-form {
        min-width: unset;
        max-width: unset;
    }

    .form-row {
        justify-content: space-between;
    }

    /* LOGIN PAGE */
    .hero-login {
        justify-content: center;
        align-items: flex-start;
    }

    .form-login {
        background: #1c1d1fa3 !important;
    }
}

@media (max-width: 425px) {
    .text-content h1 {
        font-size: 45px;
        text-align: center;
    }

    .text-content-details {
        top: 100px;
        width: 100%;
        text-align: center;
    }

    .stats-grid {
        grid-template-columns: 1fr;
    }

    .stat-item {
        border-bottom: 1px solid #333;
    }

    .stat-item:first-child {
        border-right: none;
        border-bottom: 1px solid #333;
    }

    .stat-item:last-child {
        border-bottom: none;
    }

    .stat-item:nth-of-type(2) .stat-title {
        margin-bottom: 0;
    }

    /* FINANCE SECTION */
    .finance-container {
        flex-direction: column;
    }

    .finance-left h2 {
        font-size: 30px;
    }

    .finance-left h2 span {
        display: inline;
    }
    /* STARTED SECTION */
    .started-title {
        font-size: 30px;
    }

    /* FAQ SECTION */
    .step-card {
        padding: 0;
    }

    .step-header {
        gap: 60px;
    }

    /* FOOTER */
    .footer-top {
        padding-block: 0px!important;
    }

    .footer .nav-right {
        display: none;
    }
    
    .footer .nav-left {
        flex-direction: column;
        gap: 20px;
    }

    .footer .nav {
        width: auto;
    }

    .footer .nav1 {
        padding: 0;
    }

    /* LOGIN PAGE */
    .title-form-login {
        font-size: 30px!important;
    }

    .title-form-login img {
        height: 25px;
    }
}

@media (max-width: 375px) {
    .text-content h1 {
        font-size: 39px;
        margin-bottom: 250px;
    }

    .user-stats {
        flex-direction: column;
        gap: 10px;
    }

    .users {
        align-items: center;
    }

    .profit {
        text-align: center;
    }

    /* LOGIN PAGE */
    .title-form-login {
        font-size: 25px!important;
    }
}

@media (max-width: 320px) {
    .header {
        justify-content: space-between;
    }

    .text-content h1 {
        font-size: 30px;
    }

    .stat-item {
        padding: 10px;
    }

    .stat-item h2::after {
        top: 8%;
        right: 10%;
    }

    .step-header {
        background: linear-gradient(to right, #f05a28 50%, #1a1a1a 50%);
    }

    .contact-faq-section {
        padding: 20px;
    }

    .faq-title {
        font-size: 30px;
    }

    .faq-answer {
        font-size: 12px;
    }

    /* LOGIN PAGE */
    .title-form-login {
        font-size: 20px!important;
    }

    .title-form-login img {
        height: 15px;
    }
}