.raleway-semibold {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    color: white;
    position: relative;
    z-index: 5;
}

.desktop_mobile_shown {
    display: none;
}

.desktop-nav, .desktop {
    display: flex;
}

.mobile-menu {
    display: none;
}

.nav {
    background: #1c1d1f;
    width: 100%;
    gap: 20px;
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-right {
    display: flex;
    align-items: center;
}

/* HERO SECTION */
.hero {
    position: relative;
    width: 100%;
    height: 700px;
/*    height: 100vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.background-video {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 50%;
    height: 100%;
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1320px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    bottom: 10%;
}

.text-content {
    color: white;
    max-width: 600px;
    position: relative;
}

.text-content h1 {
    font-size: 79px;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: end;
}

.text-content h1 span {
    padding: 0 0.5rem;
    border-radius: 5px;
}

.text-content h1 strong {
    font-weight: 800;
}

.text-content-details {
    position: absolute;
    top: 100px;
    width: 40%;
    font-size: 12px;
}

.text-content p {
    color: #fff;
    line-height: 1.6;
}

.content-inforamtion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-stats {
    display: flex;
    background: #1c1d1f;
    border-radius: 20px;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
}

.users {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px
}

.users-images {
    display: flex;
    gap: 10px;
}

.users img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #e94d22;
}

.users span {
    font-size: 1.2rem;
    font-weight: bold;
}

.profit {
    text-align: right;
    flex: 1;
}

.profit strong {
    font-size: 1.5rem;
}

.profit p {
    font-size: 0.8rem;
    color: #fff;
}

.button-wrapper {
/*    margin-left: 2rem;*/
}

.join-button {
    background-color: #f26522;
    color: white;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.join-button:hover {
    background-color: #d1541a;
}

/* FOOTER */
.glow-line {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, #ffffff66, transparent);
    box-shadow: 0 0 8px #ffffff33;
    margin: 40px 0;
}

.nav1 {
    background: transparent;
    padding: 10px 40px 10px 0px;
}

.nav1 li a:hover {
    text-decoration: none!important;
    color: #e94d22;
}

.submenu1 {
    position: absolute;
    left: 0;
    top: calc(100% + 9px);
    z-index: 5;
    display: none;
    border-radius: 8px;
    padding: 3px 5px;
    width: 100%;
    text-transform: uppercase;
    background: #000;
    border: 1px solid white;
    max-height: 300px;
    overflow-y: auto;
}

.footer-bottom {
    padding-block: 12px 30px;
}

.footer-bottom .flex-bl {
    justify-content: flex-end;
}

.footer .nav-left {
    gap: 40px;
}

.copyright span {
    font-size: 15px;
}

@media (max-width: 768px) {
    .desktop-nav, .desktop, .mobile_hidden { display: none!important; }
    .mobile-menu { 
        display: flex;
        align-items: center;
        gap: 10px; 
    }
    #menu { 
        display: none; 
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100vh; 
        background: rgba(0, 0, 0, 0.8); 
        text-align: center; 
        padding-top: 100px; 
    }
    #menu.overlay { 
        display: block; 
        z-index: 49;
    }
    #menu ul {
        padding: 0;
    }
    #menu li {
        list-style: none;
        display: flex;
        justify-content: center;
    }
    #menu a {
        color: #fff;
        display: block;
        font-size: 25px;
        margin-bottom: 30px;
        text-decoration: none;
    }
    .contact-btn-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
    #burger-menu { 
        cursor: pointer; 
        height: 27px; 
        width: 27px; 
        position: relative; 
        z-index: 50; 
    }
    #burger-menu span, #burger-menu span:before, #burger-menu span:after {
        background: #fff; 
        display: block; 
        height: 2px; 
        position: absolute; 
        transition: 0.3s ease-in-out;
    }
    #burger-menu span:before, #burger-menu span:after { content: ''; }
    #burger-menu span:before { 
        left: 0; 
        top: -10px; 
        width: 27px; 
    }
    #burger-menu span { 
        right: 0; 
        top: 13px; 
        width: 27px; 
    }
    #burger-menu span:after { 
        left: 0; 
        top: 10px; 
        width: 27px; 
    }
    #burger-menu.close span:before { 
        top: 0; 
        transform: rotate(90deg); 
        width: 27px; 
    }
    #burger-menu.close span { 
        transform: rotate(-45deg); 
        top: 13px; 
        width: 27px; 
    }
    #burger-menu.close span:after { 
        top: 0; 
        left: 0; 
        transform: rotate(90deg); 
        opacity: 0; 
        width: 0; 
    }

    .desktop_mobile_shown {
        display: block;
    }

    .header {
        padding: 12px 10px 12px 10px;
    }

    .background-video { width: 100%; }

    .hero-content { 
        align-items: center;
        bottom: 0;
    }

    .content-inforamtion { 
        flex-direction: column;
        gap: 50px;
    }

    .text-content h1 {
        margin-bottom: 150px;
    }

    .text-content-details {
        top: 115px;
    }
}

@media (max-width: 425px) {
    .text-content h1 {
        font-size: 45px;
        text-align: center;
    }

    .text-content-details {
        top: 100px;
        width: 100%;
        text-align: center;
    }

    /* FOOTER */
    .footer-top {
        padding-block: 0px!important;
    }

    .footer .nav-right {
        display: none;
    }
    
    .footer .nav-left {
        flex-direction: column;
        gap: 20px;
    }

    .footer .nav {
        width: auto;
    }

    .footer .nav1 {
        padding: 0;
    }
}

@media (max-width: 375px) {
    .text-content h1 {
        font-size: 39px;
        margin-bottom: 250px;
    }

    .user-stats {
        flex-direction: column;
        gap: 10px;
    }

    .users {
        align-items: center;
    }

    .profit {
        text-align: center;
    }
}

@media (max-width: 320px) {
    .header {
        justify-content: space-between;
    }

    .text-content h1 {
        font-size: 30px;
    }
}