.raleway-semibold {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    color: white;
    position: relative;
    z-index: 5;
}

.desktop_mobile_shown {
    display: none;
}

.desktop-nav, .desktop {
    display: flex;
}

.mobile-menu {
    display: none;
}

.nav {
    background: #1c1d1f;
    width: 100%;
    gap: 20px;
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-right {
    display: flex;
    align-items: center;
}

/* FOOTER */
.glow-line {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, #ffffff66, transparent);
    box-shadow: 0 0 8px #ffffff33;
    margin: 40px 0;
}

.nav1 {
    background: transparent;
    padding: 10px 40px 10px 0px;
}

.nav1 li a:hover {
    text-decoration: none!important;
    color: #e94d22;
}

.footer-bottom {
    padding-block: 12px 30px;
}

.footer-bottom .flex-bl {
    justify-content: flex-end;
}

.copyright span {
    font-size: 15px;
}

@media (max-width: 768px) {
    .desktop-nav, .desktop, .mobile_hidden { display: none!important; }
    .mobile-menu { 
        display: flex;
        align-items: center;
        gap: 10px; 
    }
    #menu { 
        display: none; 
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100vh; 
        background: rgba(0, 0, 0, 0.8); 
        text-align: center; 
        padding-top: 100px; 
    }
    #menu.overlay { 
        display: block; 
        z-index: 49;
    }
    #menu ul {
        padding: 0;
    }
    #menu li {
        list-style: none;
        display: flex;
        justify-content: center;
    }
    #menu a {
        color: #fff;
        display: block;
        font-size: 25px;
        margin-bottom: 30px;
        text-decoration: none;
    }
    .contact-btn-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
    #burger-menu { 
        cursor: pointer; 
        height: 27px; 
        width: 27px; 
        position: relative; 
        z-index: 50; 
    }
    #burger-menu span, #burger-menu span:before, #burger-menu span:after {
        background: #fff; 
        display: block; 
        height: 2px; 
        position: absolute; 
        transition: 0.3s ease-in-out;
    }
    #burger-menu span:before, #burger-menu span:after { content: ''; }
    #burger-menu span:before { 
        left: 0; 
        top: -10px; 
        width: 27px; 
    }
    #burger-menu span { 
        right: 0; 
        top: 13px; 
        width: 27px; 
    }
    #burger-menu span:after { 
        left: 0; 
        top: 10px; 
        width: 27px; 
    }
    #burger-menu.close span:before { 
        top: 0; 
        transform: rotate(90deg); 
        width: 27px; 
    }
    #burger-menu.close span { 
        transform: rotate(-45deg); 
        top: 13px; 
        width: 27px; 
    }
    #burger-menu.close span:after { 
        top: 0; 
        left: 0; 
        transform: rotate(90deg); 
        opacity: 0; 
        width: 0; 
    }

    .desktop_mobile_shown {
        display: block;
    }

}